<a href="https://colab.research.google.com/github/leonardo99i/Fenabrave/blob/main/TESTE_WEB_SCRAPING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#Importação das lib's utilizadas
import pandas as pd
from urllib.request import urlopen
import html
from bs4 import BeautifulSoup
import csv

html = urlopen("http://www.fenabrave.org.br/pdf/informativo/automatico/dadosregionais_novo.asp?id=Sao%20Paulo&cap=")
soup = BeautifulSoup(html.read(), "html5lib")
extrai_tabela = soup.findAll("table", {"class": "TABELA"})
for tag in extrai_tabela:
        table_str = str(extrai_tabela)
        tabela_pronta = pd.read_html(table_str)[0]
        display(tabela_pronta)

,0,1,2,3,4,5,6,7,8,9,10,11
0,Segmentos,Segmentos,2022,2022,2022,2021,2021,Variação %,Variação %,Variação %,Part. % Acumul.,Part. % Acumul.
1,Segmentos,Segmentos,Jul (A),Jun (B),Acumul. (C),Jul (D),Acumul. (E),(A/B),(A/D),(C/E),2022,2021
2,(A)Auto,(A)Auto,37603,36834,214059,26083,211096,209,4417,140,4691,4802
3,(B)Comercial Leve,(B)Comercial Leve,5422,5222,33754,6776,43233,383,-1998,-2193,740,983
4,(A+B),(A+B),43025,42056,247813,32859,254329,230,3094,-256,5430,5785
5,(C)Caminhão,(C)Caminhão,2213,2333,14604,2450,15609,-514,-967,-644,320,355
6,(D)Ônibus,(D)Ônibus,333,515,2855,348,2685,-3534,-431,633,063,061
7,(C+D),(C+D),2546,2848,17459,2798,18294,-1060,-901,-456,383,416
8,(E)Moto,(E)Moto,23305,26731,164627,24256,136539,-1282,-392,2057,3607,3106
9,(F)Implemento Rodoviário,(F)Implemento Rodoviário,1727,1743,13272,2455,14723,-092,-2965,-986,291,335
10,Outros,Outros,2108,1937,13186,2490,15744,883,-1534,-1625,289,358
11,TOTAL,TOTAL,72711,75315,456357,64858,439629,-346,1211,381,10000,10000

In [13]:
tabela_pronta.to_csv('UF_SP.csv')